{% extends "base.html" %}
{% block child_block %}
<h1> Your Portal</h1><br>
<a class="button" href ={% url 'logout' data.id %} >logout</a><br>

        <a href = {% url 'leaves' data.id  %}>Number of leaves remaining</a><br>
        <br>
        <a href ={% url 'application' data.id  %} >Click here to start an application</a><br>
        <br>
        <a href ={% url 'show' data.id %} >Check status of running application</a><br>
        <br>
        <a href ={% url 'profile' data.id %} >Profile</a><br>
        <br>

{% endblock %}

